extends layout.jade

block title
	title K-ongress Seminare

block content
	div.container
		h1 Diabetes Ambulanz | Virchow Klinikum der Charité Berlin
		br

		div.btn-group.btn-group4
			a.btn.btn-default(href="kinder-uebernachtung") Kinder-Übernachtung
			a.btn.btn-default(href="eltern-schulung") Eltern-Schulung
			a.btn.btn-default(href="schulbesuch") Schulbesuch
			a.btn.btn-primary(href="/") Lehrer-Nachmittag


		div.jumbotron
			h1
				span.strip Lehrerinnen-Erzieher-Nachmittag
			p
				span.strip Am 13. Oktober 2015
			a.btn.btn-primary.btn-lg(href="/seminare") Seminare


		div.row
			div.col-md-9

				p
					strong An einem Nachmittag
					|  zeigen wir Lehrerinnen, Erzieherinnen und Schulhelfern den richtigen Umgang mit Diabetes von Kindern. In der Regel waren wir bereits vorher zu einem 
					a(href="#") ersten Gespräch
					|  in der Schule oder dem Kindergarten, so dass jetzt auch weiterführende Fragen besprochen werden können.

				p
					a(href="#") Die Schulanfänger
					|  üben bei uns vor der Einschulung ein Wochenende lang
					|  den Umgang mit ihrem Diabetes in der Schule. 
					a(href="#") Zwölf bis Vierzehnjährige
					|  bleiben sogar sieben Tage bei uns. Auch mit den 
					a(href="#") Eltern 
					| besprechen wir die Besonderheiten von Diabetes in der Schule und dem Kindergarten, so dass sie Ihre wichtigsten Ansprechpartner werden.


				h1 Zeitplan

				table.table.table-striped
					tbody
						tr
							td 14:00
							td
								strong Begrüßung
								br
								|  von Oberarzt PD Dr. Klemens Raile, Leiter des Diabeteszentrums für Kinder und Jugendliche
						tr
							td 14:15
							td
								strong Einführung
								br
								|  Kinder mit Diabetes in der Schule von Dr. Kathrin Griffig, Kinderdiabetologin
						tr
							td 14:45
							td
								strong schulunterstützende Maßnahmen
								br
								|  von Michaela Heinrich, Sozialarbeiterin des Sozialpädiatrischen Zentrums
						tr
							td 15:45&nbsp;–&nbsp;16:15
							td
								strong PAUSE
						tr
							td 16:15
							td
								strong Rechtliche Aspekte
								br
								|  erklärt vom Anwalt
						tr
							td 17:10&nbsp;–&nbsp;19:00
							td
								strong Aufteilung in Seminare


				h1 Anmeldung

				p
					| Um Anmeldung wird gebeten auf der 
					a(href="/seminare") Übersicht der Seminare
					|.

				br



			div.col-md-3
				div.leftline
					H2 Material
					p
						a(href="/material") Leitfaden
					p
						i.fa.fa-external-link.fa-fw 
						a(href="http://www.diabetes-kinder.de/") diabetes-kinder.de

					h2 Anfahrt
					p
						| Campus Virchow Klinikum 
						br
						|  Mittelallee 10
					p
						i.fa.fa-subway.fa-fw
						|  U Amrumer Straße
						br
						i.fa.fa-train.fa-fw
						|  S Westhafen 
						br
						i.fa.fa-bus.fa-fw
						|  50, M13, 106
					a(href="https://maps.google.com/?q=52.5422183,13.3439445", target="_blank") Google Maps



					h2 Lizenz
					p Der gesamte Inhalt dieser Seiten darf gerne kopiert werden unter den Bedingungen der 
						a(href="https://creativecommons.org/licenses/by-sa/3.0/de/") CreativeCommons CC-BY-SA
						|.

