extends layout.jade

block title
	title K-ongress Seminare

block content
	div.container
		h1 Diabetes Ambulanz | Virchow Klinikum der Charité Berlin
		br

		div.jumbotron
			h1
				span.strip Lehrerinnen-Erzieher-Nachmittag
			p
				span.strip Am 13. Oktober 2015
			a.btn.btn-primary.btn-lg(href="/seminare") Seminare



		H1 Material
		a(href="/material") Download


		hr
		h2 Anfahrt
		p CVK Lehrgebäude Forum 3
		img(src="/images/approach.jpeg", class="image")
		br

