extends layout.jade

block title
	title Diabetes-Schule Berlin

block content
	div.container
		h1 Kinder mit Diabetes in der Schule
		br


		div.jumbotron.frontpage-jumbotron
			h1.text-center Lehrerinnen-Erzieher-Nachmittag
			p
				span.pull-right.strip.timer.hidden-xs
				span.strip 8. Oktober 2015
				| &nbsp;&nbsp;
				span.strip Berlin


		div.row
			div.col-md-8.col-md-offset-1

				p.lead Ein Nachmittag für Gespräche über Diabetes im Schulalltag, den Umgang mit Insulinpumpen und Snacks. 
					| Die Konferenz ist am 
					strong 8. Oktober 2015 
					| im 
					strong Campus Virchow der Charité Berlin
					| .
			div.col-md-2
				a.btn.btn-primary.btn-lg(href="/seminare") Seminare


			div.col-sm-12
				h2 Speaker

			div.col-sm-3
				div.panel.panel-default
					div.panel-body
						img(src="/images/portrait-k.jpg").image
						p.lead Karina Boss
						p Diabetesberaterin

			div.col-sm-3
				div.panel.panel-default
					div.panel-body
						img(src="/images/portrait-k.jpg").image
						p.lead Karina Boss
						p Diabetesberaterin

			div.col-sm-3
				div.panel.panel-default
					div.panel-body
						img(src="/images/portrait-k.jpg").image
						p.lead Karina Boss
						p Diabetesberaterin

			div.col-sm-3
				div.panel.panel-default
					div.panel-body
						img(src="/images/portrait-k.jpg").image
						p.lead Karina Boss
						p Diabetesberaterin





			div.col-md-5.col-md-offset-1
				p Seit fünf Jahren bietet das 
					strong Diabeteszentrum der Charité Campus Virchow 
					| jedes Jahr im Herbst einen
					strong Informationsnachmittag für Lehrer, Erzieher und Schulhelfer 
					| zum Thema: Kinder mit Diabetes in der Schule an. Die wachsende Teilnehmerzahl, zuletzt rund 200 Lehrer, Erzieher und Schulhelfer, belegt den bestehenden Bedarf.
				p In diesem Jahr wird die Veranstaltung in Kooperation des Diabeteszentrums für Kinder und Jugendliche der Charité Campus Virchow mit Diabetes DE der Dachorganisation, die Menschen mit Diabetes und Ärzte sowie Berater vereint, durchgeführt.

			div.col-md-5
				p Neben einer allgemeinen Einführung zu Kindern mit Diabetes in der Schule werden 
					strong sozialrechtliche Aspekte wie die Beantragung von Schulhelfern, Integrationsstatus und die Verordnung von Pflegediensten 
					| besprochen. Gefolgt von rechtlichen Aspekten wie 
					strong Stand der rechtlichen Grundlagen und Haftung von Lehrern und Erziehern 
					| in Bezug auf die Betreuung von Kindern mit Diabetes mellitus Typ1 
					| erörtert.
				p In den anschließenden 
					strong Seminaren 
					| können Sie ihr Wissen in einem Gebiet vertiefen. Bitte melden Sie sich nur für ein Seminar an, die Seminare finden parallel statt. Wenn sie die Grundlagen erlernen möchten, empfehlen wir Ihnen unbedingt die Basis-Schulung.  


			div.col-md-8
				h2 Zeitplan

				table.table.table-striped
					tbody
						tr
							td 14:00
							td
								strong Begrüßung
								br
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								a(href="http://spz.charite.de/unser_angebot/interdisziplinaeres_spz/diabetologie/team/") PD Dr. Klemens Raile · Leiter des Diabeteszentrums für Kinder und Jugendliche
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
						tr
							td 14:15
							td
								strong Einführung
								br
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Dr. Kathrin Griffig · Kinderdiabetologin
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
								br
								|  Einführung: Kinder mit Diabetes in der Schule
						tr
							td 14:45
							td
								strong Schulunterstützende Maßnahmen
								br
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Michaela Heinrich · Sozialarbeiterin des Sozialpädiatrischen Zentrums
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
						tr
							td 15:45&nbsp;–&nbsp;16:15
							td
								strong PAUSE 
								| Imbiss im Foyer Untergeschoss
						tr
							td 16:15
							td
								strong Rechtliche Aspekte
								br
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								a(href="http://www.diabetes-und-recht.de/oliver-ebert/") Rechtsanwalt Oliver Ebert
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
								
						tr
							td 17:10&nbsp;–&nbsp;19:00
							td
								strong Aufteilung in Seminare




			div.col-md-3.col-md-offset-1
				H2 Material
				p
					a(href="/material") Leitfaden
				p
					i.fa.fa-external-link.fa-fw 
					a(href="http://www.diabetes-kinder.de/") diabetes-kinder.de




			div.col-md-12
				div.jumbotron

					i.fa.fa-pencil-square-o.fa-5x.pull-left

					h2 Anmeldung
					p
						| Um Anmeldung wird gebeten auf der 
						a(href="/seminare") Übersicht der Seminare
						|.



			div.col-md-12
				div.karte
					div.row
						div.col-sm-5.col-md-4
							h2 Kontakt
							p Charité Campus Virchow
								br
								| Diabeteszentrum für Kinder und Jugendliche
								br
								| Karina Boss
								br
								| Augustenburger Platz 1
								br
								| 13353 Berlin
								br
								| Tel. 030/450566357
								br
								| Karina.Boss@charite.de
						div.col-sm-4.col-sm-offset-3.col-md-3.col-md-offset-5
							h2 Anfahrt
							p Campus Virchow Klinikum 
								br
								|  Mittelallee 10 
								small 
									a(href="https://maps.google.com/?q=52.5422183,13.3439445", target="_blank") Google Maps

							p
								i.fa.fa-subway.fa-fw
								|  U Amrumer Straße
								br
								i.fa.fa-train.fa-fw
								|  S Westhafen 
								br
								i.fa.fa-bus.fa-fw
								|  50, M13, 106

