doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")
		block title
			title K-ongress
		link(href="/css/bootstrap-cosmo.css", rel="stylesheet")
		link(href="/css/font-awesome.min.css", rel="stylesheet")
		link(href="/css/k-ongress.css", rel="stylesheet")

		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->

	body
		block content




		footer
			div.container

				div.row
					div.col-sm-4.col-md-4
						p Der Inhalt dieser Seiten darf gerne kopiert werden unter den Bedingungen der 
							a(href="https://creativecommons.org/licenses/by-sa/3.0/de/") CreativeCommons CC-BY-SA
							|. Rechte an Abbildungen von Personen werden nicht abgegeben. 
							| Teddy CC-BY von 
							a(href="http://www.christiaantriebert.com/") Christiaan Triebert

					div.col-sm-7.col-md-6.col-lg-5.col-lg-offset-1
						p
							| Edukids Projektgruppe
							br
							| Charité – Universitätsmedizin Berlin
							br
							| Campus Virchow-Klinikum
							br
							| Diabeteszentrum für Kinder und Jugendliche der Charité
							br
							| verankert im 
							a(href="https://spz.charite.de/abteilungen/endokrinologie_adipositasdiabetologie/diabetologie/") Sozialpädiatrischen Zentrum
							|  und in der 
							a(href="https://kinderheilkunde.charite.de/") Klinik für Pädiatrie mit Schwerpunkt Endokrinologie und Diabetes
							br
							| Augustenburger Platz 1
							br
							| 13353 Berlin


		script(src="/js/jquery-2.1.4.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/script.js")
		script(src="https://piwik.netaction.de/piwik.js")
