doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="icon", href="images/favicon.ico")
		block title
			title K-ongress
		link(href="/css/cosmo-bootstrap.min.css", rel="stylesheet")
		link(href="/css/font-awesome.min.css", rel="stylesheet")
		link(href="/css/k-ongress.css", rel="stylesheet")

		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->

	body
		block content

		nav.navbar.navbar-default(style="margin-bottom:0;")
			div.container-fluid
				div.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="http://spz.charite.de/unser_angebot/interdisziplinaeres_spz/diabetologie/team/") Sozialpädiatrisches Zentrum


		script(src="/js/jquery-2.1.4.min.js")
		script(src="/js/bootstrap.min.js")
