.image {
	display: block;
	width: 100%;
	height: auto;
}

h2 {
	margin-top: 50px;
	font-size: 40px;
}

p { 
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; 
}


.frontpage-jumbotron {
	padding-top: 250px;
	padding-bottom: 50px;
	background-image: url(/images/Christiaan_Triebert.jpg); /* https://www.flickr.com/photos/christiaantriebert/9024165415 */
	background-position: center;
	background-size: cover;
}
.frontpage-jumbotron .strip {
	background-color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 0.1em 0.2em;
	margin-bottom: 0.1em;
}
.frontpage-jumbotron h1 {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0.1em 0.2em;
	margin-bottom: 0.4em;
}

/* #### Speaker #### */
.panel-speaker {
	border-color: #ddd;
	margin-bottom: 30px;
}
.panel-speaker .panel-body {
	padding: 0 0 15px 0;
}
.panel-speaker .panel-body img {
	margin-bottom: 5px;
}
.panel-speaker .panel-body p {
	padding: 5px 15px 0 15px;
	margin: 0;
}
.panel-speaker .panel-body p.lead {
}


/* #### Timetable #### */

.timetable {

}
.timetable {
	position: relative;
}
.timetable .line1 {
	position: absolute;
	top:0;
	height: 100%;
	width: 1px;
	background-color: black;
}
.timetable .line2 {
	position: absolute;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: white;
}
@media(max-width:767px) {
	.timetable .timetable-time {
		padding-left: 60px;
	}
	.timetable .timetable-content {
		padding-left: 60px;
	}
	.timetable .line1 { left: 30px; }
	.timetable .line2 { left: 20px; }
}
@media(min-width:768px) {
	.timetable .line1 { left: 160px; }
	.timetable .line2 { left: 150px; }
.timetable .timetable-time p { text-align: right; }

}
@media(min-width:992px) {
	.timetable .line1 { left: 205px; }
	.timetable .line2 { left: 195px; }
}
@media(min-width:1200px) {
	.timetable .line1 { left: 250px; }
	.timetable .line2 { left: 240px; }
}

.timetable .timetable-time p {
	margin-bottom: 3px;
}

.timetable .timetable-content {
	margin-bottom: 30px;
}
.timetable .timetable-content h4 {
	margin-top: 0;
	font-size: 20px;
}

.timetable .timetable-content .timetable-description {
}



/* #### Sessions #### */
.seminare-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #2780E3;
	color: white;
}

.session-description {
	color: black;
	margin-bottom: 30px;
}
.session-description h3 {
	padding: 5px 15px;
	font-size: 19px;
	font-weight: 700;
	margin: 0;
}
.session-description .panel-body {
	padding: 0;
}
.session-description img {
	margin-bottom: 7px;
}
.session-description p {
	padding: 5px 15px;
}






footer {
	margin-top: 30px;
	background-color: #333;
	color: #eee;
	padding-top: 15px;
	padding-bottom: 30px;
}
footer a{
	color: white;
	text-decoration: underline;
}
footer a:hover, footer a:focus, footer a:active {
	color: white;
	background-color: #666;
}